profiles {
    standard {
        trace {
            enabled = true
            file = 'pipeline_trace.txt'
        }
        process {
            cpus = 2
            memory = 2.GB
            container = 'guigolab/rnaseq-nf'
        }
        docker {
            runOptions = '-u $(id -u):$(id -g)'
        }
    }
    travis {
        params.reads = "$baseDir/data/mouse_cns_E14_rep1_{1,2}.fastq.gz"
        docker.enabled = true
    }
}